*{
    padding: 0;
    border: 0;
    margin: 0;  
  }

 body{
    background-color: #120f10;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom, #212529, #000000);
      
 
 }


.container-fluid{
    width: 100%;
    height: 184rem;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

}


.header_img{

width:99.9%;
height: 45rem;
z-index:1;;
filter: brightness(25%) blur(3px);
}


.contaunerImg{
    width: 45%;
    height: 48rem;   
}

.imgPrincipal{
    width: 25%;
    height: 25rem;
    position: absolute;
    top: 11rem;
    left: 13rem;

}

.titleOne{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F1F1F1;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 14rem;
    left: 36rem;
    font-size: 3rem;

}

.titleTwo{
    color: aliceblue;
    position: absolute;
    top: 18rem;
    left: 36rem;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
}

.textR{
    transform: rotate(270deg) ;
    -webkit-transform: rotate(270deg) ;
    -moz-transform: rotate(270deg) ;
    -o-transform: rotate(270deg) ;
    -ms-transform: rotate(270deg) ;
    color: aliceblue;
    position: absolute;
    top: 26rem;
    left: 4rem;

}

.colorChange{
    color:#50a584 ;
}

.btn-outline-success{
    background-color: #50a584;
    color: white;
    position: absolute;
    top: 23rem;
    left: 36rem;
    height: 3rem;
}

.btn-outline-secondary{

    position: absolute;
    top: 23rem;
    left: 45rem;
    background-color: aliceblue;
    width: 8rem;
    height: 3rem;
    
}

.titleSubOne{
    color: #F1F1F1;
    position: absolute;
    top: 43.1rem;
    left: 13rem;
    font-family: 'Roboto', sans-serif;
    font-size: 43px;  
}


.containerBox{
    display: flex;
    width: 25rem;
    margin-top: 3rem;
    margin-left: 13rem;

}

.box{

    width: 9rem;
    height: 5rem;
    border: 1px solid white;
}

.box1{
    width: 6rem;
    height: 5rem;
    border: 1px solid white;

}


.imgBox{
    
    display: flex;
    gap: 39px;
    margin-left: 316px;

}

.imgBox0{
    top: 99px;
    position: relative;


   

}
.imgBoxonly{
    top: 51rem;
    position: absolute;
    left: 215px;
}

.player{
    top: 823px;
    position: absolute;
    left: 241px;
    color: #F1F1F1;
    font-size: 13px;
}

.titleThree{
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 3rem;
    margin-left: 13rem;
}
    



p{
    color: #F1F1F1;
}

.listSong{
    
}

.songOne{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 38px;
    margin-left: 12rem;
    margin-top: 3rem;

}

.songTwo{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;


    
}

.songThree{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;


}

.songFour{

    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;



}

.songFive{

    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;

}

.songSix{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;

}

.songSeven{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;

}

.songEight{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;

}

.songNine{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;

}

.songTen{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;


}

.songEleven{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;

}

.songTwelve{
    display: flex;
    width: 73%;
    height: 20px;
    gap: 35px;
    margin-left: 12rem;
    margin-top: 2rem;


}

/* detalles separados */
.play{
    position: absolute;
    left: 32vh;

}

.parrafoTwo{
    position: absolute;
    left: 16rem;


}

.conro1 {
    position: absolute;
    top: 152vh;
    left: 256px;
    font-size: 13px;

}

.conro2{
    position: absolute;
    top: 160vh;
    left: 256px;
    font-size: 13px;


    
}

.conro3{

    position: absolute;
    top: 168vh;
    left: 256px;
    font-size: 13px;

}

.conro4{
    position: absolute;
    top: 176vh;
    left: 256px;
    font-size: 13px;

}

.conro5{
    position: absolute;
    top: 183vh;
    left: 256px;
    font-size: 13px;
    
}

.conro6{
    position: absolute;
    top: 191vh;
    left: 256px;
    font-size: 13px;
    
}
.conro7{
    position: absolute;
    top: 198vh;
    left: 256px;
    font-size: 13px;
    
}
.conro8{
    position: absolute;
    top: 206vh;
    left: 256px;
    font-size: 13px;
    
}
.conro9{
    position: absolute;
    top: 214vh;
    left: 256px;
    font-size: 13px;
    
}
.conro10{
    position: absolute;
    top: 221vh;
    left: 256px;
    font-size: 13px;
    
}
.conro11{
    position: absolute;
    top: 229vh;
    left: 256px;
    font-size: 13px;
    
}
.conro12{
    position: absolute;
    top: 236vh;
    left: 256px;
    font-size: 13px;
    
} 

.minuts{
    position: absolute;
    left: 54rem;
}

.imgShare{

    position: absolute;
    left: 58rem;
}

.titleFour{
    color: #F1F1F1;
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 3rem;
    margin-left: 26vh;
}

iframe{
    margin-top: 2rem;
    margin-left: 26vh;

}